{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon Emission Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'main.js' %}"></script>
</head>
<body>

    <!-- main page -->
    <div style="margin-bottom: 70px; margin-top: 40px;">
        
        <!-- date time -->
        <div class="container-fluid" id="main">
            <div id="leftmenu">
        
                <div id="date_time">
                    <div id="date" class="semi_arc e4">
                        <div class="semi_arc_2 e4_1">
                            <div class="counterspin4"></div>
                        </div>
                        <div style="font-size: 40px; margin-top: 25px;" id="date_num"></div>
                        <div style="font-size: 25px;" id="month"></div>
                    </div>
        
                    <div id="time" class="arc e1">
                        <div style="font-size: 23px; margin-left: -10px; margin-top: 23px;" id="time_num"></div>
                        <div style="font-size: 15px; margin-left: 40px; margin-top: -30px;" id="second"></div>
                        <div style="font-size: 17px; margin-top: 10px;" id="day"></div>
                    </div>
                </div>
            </div>
        </div>    
        
        <!-- main heading -->
        <div class="arc_reactor">
                <div class="case_container">
                    <div class="e7">
                        <div class="semi_arc_3 e5_1">
                            <div class="semi_arc_3 e5_2">
                                <div class="semi_arc_3 e5_3">
                                    <div class="semi_arc_3 e5_4"></div>
                                </div>
                            </div>
                        </div>
                        <div class="core2" >
                            <div style="font-size: 25px; color: rgb(0, 0, 0); margin-top: 100px; margin-left: 10px; margin-right: 10px;" >Carbon Emission Analysis using Machine Learning techniques</div>
                        </div>
                    </div>
                </div>
        </div> 

        <!-- rightmenu -->
        <div id="rightmenu">           
            <div>
                <p class="title" style="text-align: center; margin-left: 10px; color: #02ffef; font-size: 25px; margin-bottom: 10px;">Datasets </p>
                <div id="particle10" class="hline"></div>
                <div id="particle11" class="hline"></div>
                <div id="particle12" class="vline"></div>
                    <ul style="color: #02ffef;">
                        <li style="margin-bottom: 10px;"> <a style="color: #02ffef;" href="/static/annual-co-emissions-by-region.csv" target = "_blank">Annual CO emission by region</a> </li>
                        <li style="margin-bottom: 10px;"> <a style="color: #02ffef; " href="/static/carbon-dioxide-co2-emissions-by-sector-or-source.csv" target = "_blank">CO emission by sector</a> </li>
                        <li style="margin-bottom: 10px;"> <a style="color: #02ffef; " href="/static/CO2-by-source.csv" target = "_blank">CO emission by source</a> </li> 
                        <li style="margin-bottom: 10px;"> <a style="color: #02ffef; " href="/static/global-carbon-dioxide-emissions-by-sector.csv" target = "_blank">Global Carbon emission by sector</a> </li>
                        <li style="margin-bottom: 10px;"> <a style="color: #02ffef; " href="/static/global-warming-potential-of-greenhouse-gases-over-100-year-timescale-gwp.csv" target = "_blank">Greenhouse Gas</a> </li>
                        <li style="margin-bottom: 10px;"> <a style="color: #02ffef; " href="/static/methane-emissions-by-sector-gg-coe.csv" target = "_blank">Methane Emission by Sector</a> </li> 

                    </ul>          
            </div>
            
        </div>

        <div class="c_container" id="main">
            <section class="margin">
                <div>
                    <h5 onclick="url_full()" title="Click here"> FULL ANALYSIS </h5>
                    <!-- <p>FULL ANALYSIS</p> -->
                    <p style="color:darkgray ; font-family: Arial, Helvetica, sans-serif;">This section contains visual representation of annual GLOBAL CO2 emission from 1951 to 2017. A representation of annual total CO2 emission of the world, country wise.</p>
                </div>
            </section>
            
            <section class="margin">
                <div>
                    <h5 onclick="url_sector()" title="Click here">SECTOR WISE ANALYSIS</h5>
                    <p style="color:darkgray ; font-family: Arial, Helvetica, sans-serif;">This section contains visual representation of annual CO2 emission from 1951 to 2017 sector wise. Detailed analysis of each carbon sector and carbon component.</p>
                </div>
            </section>

            <section class="margin" >
                <div>
                    
                    <h5 onclick="url_pred()" title="Click here">FUTURE SCENARIOS</h5>
                    <p style="color:darkgray ; font-family: Arial, Helvetica, sans-serif;">Potential future scenarios of global carbon emission based on climate change. Considering 1.5 degree emission pathway and 2 degree emission pathway for prediction.</p>
                </div>
            </section>
    
            
    
        </div>

        <div class="core3">
                <div class="text-center" style="margin-top: 8px; margin-bottom: 5px;">
                    Major Project By
                </div>
        
                <div class="container" >
                    <div class="row text-center" >
                      <div class="col-sm">
                        <a href="https://www.instagram.com/aditya.x186/?hl=en"> Aditya Singhal: A2305216318 </a>
                      </div>
                      <div class="col-sm">
                        <a href="https://www.linkedin.com/in/dishant-sethi-0b1006157/"> Dishant Sethi: A2305216328 </a>
                      </div>
                      <div class="col-sm">
                        <a href="https://www.linkedin.com/in/rudrakshi-srivastava-402815174/"> Rudrakshi: A2305216336 </a>
                      </div>
                    </div>
                  </div>
        
        </div>    
    
    
    </div>
    
    
    
    <script>
        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";
        var d = new Date();
        var n = month[d.getMonth()];
        document.getElementById("month").innerHTML = n;
        var date = d.getDate();
        document.getElementById("date_num").innerHTML = date; 

        var t = d.getHours();
        var min = d.getMinutes();
        var s = d.getSeconds();

        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        var day = weekday[d.getDay()];

        document.getElementById("time_num").innerHTML = t + ":" + min;
        document.getElementById("second").innerHTML = s;
        document.getElementById("day").innerHTML = day;


        function url_full(){
            var loc =  window.location;
            window.open(loc + "full-analysis", "_blank");
        }

        function url_sector(){
            var loc =  window.location;
            window.open(loc + "sector-wise-analysis", "_blank");
        }

        function url_pred(){
            var loc =  window.location;
            window.open(loc + "prediction", "_blank");
        }

    </script>


</body>
</html>